meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Dossier del guionista.
meta(meta name="description" content="Dicen por ahí que de un buen guion puede salir una mala película, pero que de un mal guion es imposible que salga una buena. El guionista no es solo un redactor, su trabajo creativo implica una real inmersión en el universo que quiere construir, para lograr solidez en la propuesta.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")