h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul
            li 
                span 250201015-03. Construir textos narrativos de ficción de acuerdo con los requerimientos y/o directrices de la producción.