h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('1', 'Interpretación de proyectos audiovisuales: características', 'main.html#page/tema-1/')
                    +navTemaItem('2', 'Personajes', 'main.html#page/tema-2/')
                    +navTemaItem('3', 'Storyline definición y argumentación', 'main.html#page/tema-3/')
                    +navTemaItem('4', 'Sinopsis: definición y tipos', 'main.html#page/tema-4/')
                    +navTemaItem('5', 'Redacción y ortografía: composición de textos y reglas ortográficas', 'main.html#page/tema-5/')