include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("El Cultural. (2019). Del boceto al escenario: los magos del atrezo. [Video]. YouTube.", "https://www.youtube.com/watch?v=UVSA97Nne_g&feature=emb_logo")

        +referenciaItem("FIC Boyacá. (2018). Escenografía, utilería y luces dispuestas para la puesta en escena del Teatro FIC 2018.", "http://fic.boyaca.gov.co/escenografia-tulireria-y-luces-dispuestas-para-la-puesta-en-escena-del-teatro-fic-2018/")

        +referenciaItem("Forero, M. T. (2017). Los Secretos de un Buen Guion. (1ª ed.). Eudeba. Libro digital, EPUB.")

        +referenciaItem("Imaginario, A. (2020). Estereotipo. Significados.", "https://www.significados.com/estereotipo/#:~:text=Un%20estereotipo%20es%20una%20imagen,cualidades%2C%20habilidades%20o%20rasgos%20distintivos.&text=De%20all%C3%AD%20que%20un%20estereotipo,inmutable)%20representativa%20de%20un%20grupo. ", "https://www.significados.com/estereotipo/#:~:text= Un%20estereotipo%20es%20una%20imagen,cualidades%2C%20habilidades%20o%20rasgos%20distintivos.&text= De%20all%C3%AD%20que%20un%20estereotipo,inmutable)%20representativa%20de%20un%20grupo. ")

        +referenciaItem("Lexico. (2020). Arquetipo.", "https://www.lexico.com/es/definicion/arquetipo")

        +referenciaItem("Museo Reina Sofía. (2020). Subtramas.", "http://subtramas.museoreinasofia.es/es/anagrama/subtrama ")

        +referenciaItem("Navarro, P. (2009). El Libro Rojo del Guion. Editorial La Plana.")

        +referenciaItem("Ortiz, J. (2020). Trama. Lifeder.", "https://www.lifeder.com/trama-narrativa/#:~:text=La%20trama%20narrativa%20o%20n%C3%BAcleo,una%20estructura%20y%20elementos%20particulares.&text=Es%20por%20eso%20que%20cualquier%20texto%20narrativo%20puede%20y%20debe%20tener%20trama. ", "https://www.lifeder.com/trama-narrativa/#:~:text=La%20trama%20narrativa%20o%20n%C3%BAcleo,una%20estructura%20y%20elementos%20particulares.&text= Es%20por%20eso%20que%20cualquier%20texto%20narrativo%20puede%20y%20debe%20tener%20trama. ")

        +referenciaItem("Ucha. F. (2010). Dossier. Definición ABC.", "https://www.definicionabc.com/comunicacion/dossier.php")

        +referenciaItem("Vale, E. (1982). Técnicas del Guion para Cine y Televisión. Traducción por Miguel Wald. Sexta edición, junio de 1996. Editorial Gedisa S.A.")


        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            