.container#page-tema-2

    .header-ecored
        h1 2. Personajes

    .jumbotron.bg-white 

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-2/imagen1.png", alt="").img-fluid

        
        .row.my-5
            p El personaje es el ente por el cual se origina la historia, provoca la interacción entre los elementos y seres del universo en que se mueve. El guionista toma un rol de creador, le otorga vida, cuerpo, características y deseos a su personaje; es quien ejecuta las acciones y define la evolución de la historia. Por esto, el guionista debe conocer el comportamiento de la naturaleza humana para interpretar la psicología del personaje.

            p Los tipos de personajes son:
        .row
            h2.text-color-yelow Personajes principales: 
        .row
            p Son aquellos sobre los que se centra la historia y por tanto, tendrán mayor tiempo en pantalla. Entre ellos se encuentran:



        .row.justify-content-center.mt-70

            .col-12.col-md-6.my-6.my-md-0
                .card.background-color-gris
                    .card-body.text-center.h-400

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-2/imagen2.png")

                        h4.text-color-red.mt-card Protagonista
                        hr.text-line-card
                        p.mt-3 Es quien dirige la historia, el encargado de buscar el objetivo principal del relato, así como el vínculo directo entre el público y la realidad creada en el relato. Visualmente debe destacarse por encima de los demás personajes del elenco, a través de alguna o varias propiedades visuales.

            .col-12.col-md-6.my-6.my-md-0
                .card.background-color-gris
                    .card-body.text-center.h-400

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-2/imagen3.png")

                        h4.text-color-red.mt-card Antagonista
                        hr.text-line-card 
                        p.mt-3 Es el rol que se opone o compite en contra del protagonista impidiendo el alcance de los objetivos y manteniendo el equilibrio de la historia. Aunque no siempre se trata de un personaje, cuando es personificado se destaca como villano, oponente o adversario.


        .row.mt-5
            h2.text-color-yelow Personajes secundarios

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-2/imagen4.png", alt="").img-fluid


        .row
            p Son personajes que soportan a los personajes principales y a la historia central que se cuenta. Pueden tener pequeñas historias llamadas tramas o tramas secundarias, que conservarán la misma estructura marco del guion.

        .row.justify-content-center.mt-70
            .col-12.col-md-6.my-6.my-md-0
                .card.background-color-gris
                    .card-body.text-center.h-300

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-2/imagen5.png")

                        h4.text-color-red.mt-3 Figurantes
                        hr.text-line-card
                        p.mt-3 Son personajes que no desarrollan una trama, pero que en determinado momento ayudan a entender o conectar la trama principal y las subtramas. Estos suelen tener diálogos muy cortos y poco tiempo en pantalla.

            .col-12.col-md-6.my-6.my-md-0
                .card.background-color-gris
                    .card-body.text-center.h-300

                        .avatar.avatar-super.card-avatar-top
                            img(src="assets/images/pages/tema-2/imagen6.png")

                        h4.text-color-red.mt-3 Extras
                        hr.text-line-card 
                        p.mt-3 Generalmente son personajes que ayudan a dar verosimilitud a un espacio, pero no tienen ninguna incidencia en la historia o diálogos.




        .row.mt-5
            h2.text-color-yelow Personajes arquetípicos
        
        .row    
            p Son  personajes que tienen como base alguno de los arquetipos, pero que se desarrollan de manera que las características que se les otorgan no sean necesariamente iguales a las del imaginario que se tiene de ese tipo de personaje. Lo arquetípico son las características que están en el inconsciente, pero no todos los personajes las sacan a la luz de la misma forma. Dentro de estos se encuentran:


        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/imagen7.png").img-fluid
                        p
                            span 
                                |  #[strong.text-color-red Héroe]
                                br
                                br
                                | Es un personaje constituido no por su fuerza, sino por su capacidad y sacrificio en pro de un segundo personaje o de toda una comunidad.




        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/imagen8.png").img-fluid
                        p
                            span 
                                |  #[strong.text-color-red Mentor]
                                br
                                br
                                | Es quien entrena al héroe, su esencia está en la gran sabiduría y experiencia que posee, representando las mejores cualidades que tiene el ser humano. Es un elemento de evocación por parte del héroe en los momentos más difíciles, como el clímax.


        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/imagen9.png").img-fluid
                        p
                            span 
                                |  #[strong.text-color-red Guardián del portal]
                                br
                                br
                                | Se caracteriza por obstaculizar o poner a prueba las habilidades del personaje principal al conseguir su objetivo. No es el antagonista, ya que por lo general se convierte en su mentor o aliado después de ser vencido.



        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/imagen10.png").img-fluid
                        p
                            span 
                                |  #[strong.text-color-red Doble cara]
                                br
                                br
                                | El ser de personalidad cambiante durante la evolución del relato, se inclina de manera conveniente hacia alguno de las dos facetas de la historia de acuerdo a su conveniencia y genera tensión en el espectador por la desconfianza que crea en relación al protagonista.


        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/imagen11.png").img-fluid
                        p
                            span 
                                |  #[strong.text-color-red Tramposo o bufón]
                                br
                                br
                                | Se define como un payaso que a través de actos inconscientes ayuda o retrasa al protagonista. En el relato es usado como una herramienta para disminuir el peso dramático de la historia.


        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/imagen12.png").img-fluid
                        p
                            span 
                                |  #[strong.text-color-red Heraldo]
                                br
                                br
                                | Es un mensajero, personificado o no, por el cual se presenta el objetivo al protagonista.


        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/tema-2/imagen13.png").img-fluid
                        p
                            span 
                                |  #[strong.text-color-red Sombrío]
                                br
                                br
                                | Representa las características dentro del personaje que este quisiera omitir o eliminar, se puede constituir como mentor para fines negativos.



        .row.mt-5
            h2.text-color-yelow Personajes estereotipos

        .row
            p Según Navarro (2009) “son los que muestran, además del aspecto físico, su acción o un sentimiento. Un ejemplo de estereotipo de acción sería James Bond. Se sabe poco de su actitud ante la vida y su vida emocional es irrelevante y casi inexistente; y su principal característica reside en que no evolucionan. Otros personajes estereotipados son: la desconsolada viuda, toda emoción; el erudito pedante, etc.” (pág. 58).

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-2/imagen14.png", alt="").img-fluid




        .row.mt-5
            h2.text-color-yelow Personajes tridimensionales

        .row
            p En el Libro Rojo del Guion, Navarro (2009), establece el DENEFIP “código genético dramático” como una herramienta de construcción de personajes basado en la evolución y sus conflictos internos.

            p “El DENEFIP: el Denefip se puede definir como una lista de parámetros con los que equipamos al personaje; que son: deseo (D), necesidad (N), fin (F), intenciones (I) y pasión (P).

                  
        .row.my-5.list__recuadro 
            .list
                .list__item
                    .list__item__icon__content
                        img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                .list__txt    
                    p.text-justify #[strong Deseo:] la meta que el personaje pretende obtener de la historia, es el objetivo. Lo establece el detonante en el primer acto.


            .list
                .list__item
                    .list__item__icon__content
                        img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                .list__txt    
                    p.text-justify #[strong Necesidad:] lo que el personaje realmente necesita y que desconoce. También llamado objetivo interno.


            .list
                .list__item
                    .list__item__icon__content
                        img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                .list__txt    
                    p.text-justify #[strong Fin:] justifica los medios que ponen en marcha el deseo.


            .list
                .list__item
                    .list__item__icon__content
                        img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                .list__txt    
                    p.text-justify #[strong Intenciones:] es la motivación del personaje para ir en busca del fin.


            .list
                .list__item
                    .list__item__icon__content
                        img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                .list__txt    
                    p.text-justify #[strong Pasión:] enriquece el aspecto humano del personaje” (pág. 58-59).



    .jumbotron.bg-white 
        .header#tema-2_1.-recuadro.mt-0.mb-0
                h2 #[span.number.px-2.py-2 2.1] Creación, características y perfiles

        .row.justify-content-center.align-items-center.my-5     
            img(src="assets/images/pages/tema-2/imagen15.png", alt="").img-fluid
        
        .row.my-5
            p La esencia del personaje son todas aquellas características que lo hacen único y determinan su forma de actuar, encontrando una solidez y credibilidad, ayudando a complementar la historia y su conexión con el espectador.

        .header-arrow.my-5
            h3.text-center Aspectos fundamentales del personaje



        .recuadro.my-5
            .recuadro-title
                .list.mt-3.justify-content-center
                    .list__item
                        .list__item__icon__title
                            img.img-a(src="assets/images/icons/icon-terminal-big.svg").img-fluid  
                    .list__txt    
                        h2.text-justify #[strong Arcos de personalidad]
            
            .recuadro-content    

                .row.justify-content-center.align-items-center.mt-5                
                    img(src="assets/images/pages/tema-2/imagen16.png", alt="").img-fluid

                .row.my-5
                    p Los arcos de personalidad definen la evolución que experimenta el personaje durante el relato, desglosando y analizando el modo en que interactúa con el entorno de la historia. Por ejemplo:


                .list
                    .list__item
                        .list__item__icon__content
                            img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                    .list__txt    
                        p.text-justify De la vida a la muerte.

                .list
                    .list__item
                        .list__item__icon__content
                            img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                    .list__txt    
                        p.text-justify De la juventud a la vejez.

                .list
                    .list__item
                        .list__item__icon__content
                            img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                    .list__txt    
                        p.text-justify De rico a pobre.

                .list
                    .list__item
                        .list__item__icon__content
                            img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                    .list__txt    
                        p.text-justify De ingenuo a sabio.

                .list
                    .list__item
                        .list__item__icon__content
                            img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                    .list__txt    
                        p.text-justify De cobarde a valiente.




        .recuadro.my-5
            .recuadro-title
                .list.mt-3.justify-content-center
                    .list__item
                        .list__item__icon__title
                            img.img-a(src="assets/images/icons/icon-terminal-big.svg").img-fluid  
                    .list__txt    
                        h2.text-justify #[strong Rasgo dominante]
            
            .recuadro-content    

                .row.justify-content-center.align-items-center.mt-5                
                    img(src="assets/images/pages/tema-2/imagen17.png", alt="").img-fluid

                .row.my-5
                    p Es la definición del carácter y acciones del personaje más frecuentes durante la historia, que permiten modelar las expresiones más recurrentes dentro de la narración, así como su caracterización general.

                    p #[strong Caracterización directa o explícita:] se hace la presentación directa de las características del personaje, a través de medios como un narrador en tercera persona.

                    p #[strong Caracterización indirecta o implícita:] durante el relato el espectador empieza a evidenciar el carácter del personaje a partir de la asociación de acciones u objetivos de este. Encontrándose:



                .list
                    .list__item
                        .list__item__icon__content
                            img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                    .list__txt    
                        p.text-justify Estructura corporal.

                .list
                    .list__item
                        .list__item__icon__content
                            img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                    .list__txt    
                        p.text-justify Detalles.

                .list
                    .list__item
                        .list__item__icon__content
                            img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                    .list__txt    
                        p.text-justify Vestuario.

                .list
                    .list__item
                        .list__item__icon__content
                            img.img-a(src="assets/images/icons/icon-terminal.svg").img-fluid  
                    .list__txt    
                        p.text-justify Gestos del personaje.













        


