//Colores base del material de formación
$brand-color-dark: #510E1E;
$text-color-dark:#CEC6B2;


//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #DD474D;
$text-color-light: #FFFFFF;
$brand-color-secondary:#DD474D;

